footer {
    background-color: #222F33;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.label-medium {
    color: #FFF;
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Label / Medium */
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    opacity: 0.6;
    text-decoration: none;
}

.label-medium:hover {
    color: gray;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 320px) {

    .label-medium {
        text-align: center;
    }

    .footer-container {
        width: 100%;
    }

}
